@font-face {
    font-family: 'Futura-Medium';
    src: url('https://beerdappel.github.io/fonts/Futura-Medium.ttf');
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('https://beerdappel.github.io/fonts/Futura-Bold.ttf');
}

h1, h2, h3, h4, h5, p, li {
    font-family: Futura-Medium;
    font-style: normal;
}

.intro, .social-links, .hire {
    background-color: #CF6766;
    color: #fff;
}

.intro h1, .about h1 {
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
}

.intro h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

.about p {
    font-size: 2em;
    padding: 2%;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
}

.hire a {
    color: #fff;
}

.hire a:hover {
    color: #30415D;
}

.social-links a {
    color: #011833;
}

.about, .create {
    background-color: #30415D;
    color: #fff;
}

.create a {
    color: #8EAEBD;
}

.quote {
    background-color: #8EAEBD;
    color: #011833;
}

.about, .create a {
    color: #8EAEBD;
}

.quote h1 {
    font-style: italic;
    font-size: 5em;
    padding: 2%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
}

.quote p {
    font-size: 2em;
    text-align: center;
}

.hire h1 {
    font-size: 10em;
    text-transform: uppercase;
    padding: 2%;
}

.hire ul {
    list-style-type: none;
}

.hire li {
    font-size: 2em;
    padding-top: 0.5em;
}

.create h1 {
    font-size: 5em;
    text-transform: uppercase;
    padding: 2%;
    text-align: center;
}

.create-elements {
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0.2em;
    font-size: 4em;
    font-weight: 600;
}

.create li {
    display: inline;
}

.create li a:hover {
    color: #CF6766;
}

.create-elements li {
    padding: 3%;
}

.social {
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0.2em;
    font-size: 4em;
    font-weight: 600;
}

.social li {
    display: inline;
}

.social li a {
    color: #fff;
}

.social li a:hover {
    color: #011833;
}

@media only screen and (max-width:800px) {
    .intro h1, .about h1  {
        font-size: 5em;
        line-height: 1em;
    }

    .intro h2 {
        font-size: 3em;
        padding-top: 3%;
        line-height: unset;
        letter-spacing: unset;
    }

    .about {
        padding: 2%;
        text-align: center;
    }

    .about p {
        margin-top: 5%;
        font-size: 1.2em;
        padding: 1%;
    }

    .quote h1 {
        font-size: 2em;
    }

    .quote p {
        font-size: 1.2em;
    }
    
    .hire h1 {
        font-size: 3em;
        text-transform: uppercase;
        padding: 2%;
    }

    .hire ul {
        list-style-type: unset;
    }

    .hire li {
        font-size: 1.5em;
        line-height: 1em;
    }

    .create h1 {
        font-size: 2em;
        text-transform: uppercase;
        padding: 2%;
        text-align: center;
    }

    .create-elements {
        text-align: center;
        font-size: 2em;
    }

    .create-elements li {
        padding: 3%;
    }

    .social {
        float: left;
    }
    
    .social li a {
        font-size: 0.5em;
        padding: 2%;
    }
}